body {
    background: #FFC72C;
}

.pfont {
    font-family: 'Poppins', sans-serif;
}

.banner {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 0%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #164f36;
    display: flex;
    justify-content: space-evenly;
}

li {
    width: 20%;
    text-align: center;
}

li a {
    display: block;
    color: yellow;
    padding: 30px 90px;
    text-decoration: none;
    opacity: 70%;
    font-size: large;
}

li a:hover {
    background-color: #111;
    opacity: 100%;
    font-size: x-large;
}

.pub1 {
    position: absolute;
    max-width: 60%;
    max-height: 75%;
    left: 5%;
    top: 20%;
    z-index: -10;
}

.pub2 {
    position: absolute;
    max-width: 60%;
    max-height: 75%;
    left: 5%;
    top: 20%;
    z-index: -10;
}

.pub3 {
    position: absolute;
    max-width: 60%;
    height: 50.4%;
    left: 5%;
    top: 20%;
    z-index: -10;
}

.commander {
    background: white;
    position: absolute;
    top: 31%;
    right: 10%;
    width: 20%;
    color: black;
    border: solid 3px white;
    border-radius: 20px;
    padding: 20px;
}

.ctitle {
    font-size: 2rem;
    margin-left: 10px;
}

.ctext {
    margin-left: 20px;
}

.cbtn {
    margin-left: 25%;
    font-size: 0.9rem;
    width: 50%;
}